body {
    background-color: #fafafa;
    padding: 0;
    margin: 0;
    direction: rtl;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}


.material-icons {
    color: #a0a0a0;
}


a {
    text-decoration: none;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

hr {
    border: 0;
    height: 1px;
    background-color: #eee;
    margin: 5px auto;
}

.right {
    float: right;
}

.left {
    float: left;
}


/********************
**الفائمة العلوية***
*********************/


#top-menu {
    height: 64px;
    width: 100%;
    padding: 12px 16px 10px;
    box-shadow: 3px 3px 4px #ececec;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 1;
}

#top-menu > div {
    float: right;
    margin-top: 5px;
}

#top-menu .right div, .side-menu-header div {
    display: inline-block;
}

.logo {
    margin: 0 19px 0 15px;
}

.logo img {
    width: 85px;
    margin-bottom: 1px;
}

.right .bar, .side-menu-header .bar {
    position: relative;
    top: 7px;
}

#top-menu .search {
    width: calc(100% - 500px);
    margin-top: 9px;
}



.search input[type='text'] {
    border: 1px solid #cccccc;
    float: right;
    height: 28px;
    padding: 0 8px;
    font-size: 16px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: inset 0px 1px 1px 0px #eaeaea;
    width: 70%;
    margin-right: 21%;  
}

.search button {
    margin: 0;
    padding: 0;
    height: 28px;
    width: 20%;
    max-width: 63px;
    border: 1px solid #cccccc;
    border-right: 0;
    background-color: #f8f8f8;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.search button span.material-icons {
    font-size: 20px;
    line-height: 28px;
}

.search > span {
    position: relative;
}

.search span a.keyboard {
    position: absolute;
    left: 4px;
    bottom: -3px;
    color: #7b7b7b;

}

#search-back {
    display: none;
    float: right;
    cursor: pointer;
    margin-top: 3px;
}

.search-on-small {
    width: 90% !important;
}

#top-menu .options {
    float: left;
    font-size: 14px;
}

.options > div {
    display: inline-block;
    margin-left: 24px;
}

.options a.login {
    color: #4884f5;
    margin-left: 28px;
    position: relative;
    top: -5px;
}

#add-video-icon {
    position: relative;
}

#add-video-list {
    position: absolute;
    left: -13px;
    top: 30px;  
}

.popup {
    background-color: #fff;
    box-shadow: 1px 7px 26px #7b7b7b;
    padding: 10px 0;
    width: 215px;
    display: none;
}

.popup ul li a:hover{
    background-color: #ececec;
    text-decoration: none;
}

.popup ul li a {
    color: #656565;
    display: block;
    margin: 0;
    padding: 10px 18px;
}

.popup ul li a span:first-of-type {
    float: right;
    margin: 0 0 0 22px;
}

.popup ul li a span:nth-of-type(2) {
 display: inline-block;
}

.layer, .black-layer {
    background-color: transparent;
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100%;
    top: 0;  
    display: none;
}

.black-layer {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

#apps-icon {
    position: relative;
}

#add-app-list {
    position: absolute;
    left: -13px;
    top: 30px; 
}

.red-icon {
    color: red;
}


#setting-icon {
    position: relative;
}

#setting-list {
    width: 270px;
    position: absolute;
    left: -13px;
    top: 30px; 
}

.popup ul li a .arrow {
    float: left;
    margin: 0;
}

#setting-list ul li {
    height: 41px;
}

#setting-list ul li a {
    height: 41px;
}

.popup.card {
 position: absolute;
 top: 45px;
 left: 20%;
}

.card {
    width: 600px;
    padding: 0;
}

.card .card-header {
    background-color: #eee;
    padding: 16px 14px;
    font-size: 16px;
}

.card .card-header a {
    float: right;
    margin-top: 3px;
    margin-left: 10px;
}

.card-header a span.material-icons {
    color: #000;
}

.card .card-body {
    padding: 14px;
}


.card .card-footer {
    color: #9c9c9c;
    display: flow-root;
    background: #fff;
    border: 0;
    padding: 0px 14px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    height: 14px;
    border-radius: 34px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #e8e8e8;
    -webkit-transition: .4s;
    transition: .4s;

}

.slider::before {
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: 0;
    background-color: #909090;
    box-shadow: 0px 0px 12px #b5b5b3;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider::before {
    -webkit-transform:translateX(22px);
    -ms-transform:translateX(22px);
    transform:translateX(22px);
    background-color: #2196f3;
}

#lang.card,  #location.card{
    width: 150px;
}

#lang.card .card-body,  #location.card .card-body {
    padding: 14px;
}
    

#restriction.card {
    width: 340px;
}


.side-menu-header {
    padding: 12px 16px 10px;
    border-bottom: 1px solid #eee;
    display: none;
}

.search-icon.icon {
    display: none;
}
/***************************************
***************** side menu*************
***************************************/


#side-menu {
    width: 240px;
    background-color: #f5f5f5;
    font-size: 14px;
    position: fixed;
    right: 0;
    top: 65px;
    padding: 10px 0 50px;
    height: 100%;
    overflow: hidden;
    z-index: 4;
}
#side-menu::-webkit-scrollbar {
    background-color: rgb(230, 230, 230);
    width: 8px;
}

#side-menu::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
    width: 8px;
}

#side-menu:hover {
    overflow-y: scroll;
}


#side-menu ul li a {
    color: #3c3c3c;
    display: block;
    margin: 0;
    padding: 10px 23px;
}

#side-menu ul li a:hover{
    text-decoration: none;
    background-color: #ebebeb;
}


#side-menu ul li a span.material-icons {
    float: right;
    margin: 0 0 0 25px;
    font-size: 21px;
} 


#side-menu ul li a span.material-icons.active {
    color: red;
} 

#side-menu li .title {
    padding: 10px 24px;
    display: block;
    color: #737373;
}

#side-menu .material-icons.plus {
    font-size: 13px;
    margin-top: 4px;
    color: #b9b9b9;
}

#side-menu .login {
    width: 190px;
    padding: 10px 30px;
}

#side-menu .login a {
    color: #2196f3;
}

#side-menu ul.options li a span.material-icons {
    font-size: 24px;
    color: #888888;
}

#side-menu .copyright {
    text-align: left;
    direction: ltr;
    color: #636363;
    font-size: 12px;
    padding-left: 28px;
    margin-bottom: 80px;
    margin-top: 8px;
}



/***************************************
****************************************
***************** side menu*************
****************************************
***************************************/

.main-content {
    margin-top: 80px;
    width: 855px;
    margin-right: 19.8%;
}

.carousel .title {
    margin-bottom: 20px;
    padding-top: 10px;
    color: #3c3c3c;
}

.video-card {
    display: inline-block;
    height: 210px;
    width: 220px;
    font-size: 14px;
    margin-bottom: 24px;
    vertical-align: top;
}

.video-card a {
    color: #7b7b7b;
}
.video-card a:hover {
    text-decoration: none;
}

.video-card .video-thumbnail img.thumbnail {
    width: 210px;
    height: 118px;
}

.video-card .video-thumbnail {
    position: relative;
}

.video-thumbnail .oclock {
    position: absolute;
    left: 7px;
    top: 4px;
    background-color: #292929;
    color: #fff;
    padding: 3px;
    font-size: 21px;
    display: none;
}

.video-card:hover .video-thumbnail .oclock {
    display: block;
}

.video-thumbnail .time {
    position: absolute;
    bottom: 6px;
    left: 7px;
    color: #fff;
    background-color: #000;
    font-size: 12px;
    padding: 0 2px;
    border-radius: 2px;
}

.video-card .video-title {
    margin: 10px 0;
    color: #000;
    width: 90%;
}

.video-card .publisher {
    font-size: 12px;
    margin-bottom: 3px;
}

.video-card .info {
    font-size: 12px;
}

.video-card .info span:first-of-type::after {
    content: ".";

}

.slide-container {
    width: 100%;
    height: 220px;
    margin: 0 auto 24px;
    position: relative;
    overflow: hidden;
}

.slide {
    width: 1304px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .3s ease;
}

.carousel {
    position: relative;
    border-bottom: 1px solid #cecece;
    margin-bottom: 35px;
}

.main-content .carousel:last-child {
    border-bottom: none;
}

.carousel .arrow {
    padding: 10px;
    background-color: #fdfdfd;
    border-radius: 50%;
    color: #a2a2a2;
    font-weight: bold;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 20px;
    cursor: pointer;
    position: absolute;
    top: 87px;
}


.carousel .arrow.left {
    left: -15px;
    box-shadow: -2px 2px 4px #888;
}

.carousel .arrow.right {
    right: -15px;
    box-shadow: -2px 2px 4px #888;
    display: none;
}


.channel {
    margin-bottom: 10px;
}

.channel a img {
    width: 35px;
    border-radius: 50%;
    margin-left: 5px;

}

.channel a:hover {
    text-decoration: none;
}

.channel a.name {
    color: #3c3c3c;
}

.channel span {
    font-size: 13px;
    margin-right: 8px;

}

.channel a.subscribe {
    float: left;
    background-color: #f00;
    color: #fff;
    padding: 5px 10px;
    font-size: 15px;

}

.channel a.subscribe:hover,
.channel a.name {
    text-decoration: none;
}


/*************************************************************************************
**************************************************************************************
********************************** media quri ****************************************
**************************************************************************************
**************************************************************************************/


@media (max-width:1293px) {
    #side-menu {
        top: 0;
        right: -240px;
        transition: right .4s ease;
    }

    .side-menu-header {
        display: block;
    }

    .arrow.left,.arrow.right {
        display: none;
    }

    .main-content {
        margin: 90px auto 0px auto;
        width: 1069px;
    }
}

@media (max-width:1115px) {
    .main-content {
        width: 855px;
    }
    .arrow.left,.arrow.right {
        display: block;
    }
}


@media (max-width:923px) {
    .main-content {
        width: 665px;
    }

    .search input[type="text"] {
        margin-right: 3%;
    }


}

@media (max-width:710px) {
    .main-content {
        width: 440px;
    }
    .search {
        display: none;
    }

    .options>div{
        margin-left: 17px;
    }
    .search-icon.icon {
        display: inline-block;
    }

    .search-icon.icon a:hover {
        text-decoration: none;
    }


    .popup {
        left: -90px !important;
        max-width: 80vw !important;
    }

    
}

@media (max-width: 475px) {

    #top-menu {
        height: auto;
    }
    .main-content {
        width: 209px;
        margin-top: 120px !important;
    }

    .channel span {
        display: none;
    }

    .carousel .subscribe {
        display: none;
    }

}